<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
</head>
<body>
<h2>ABC Company’s Employee List</h2>
<a href="/add">Add New</a>
<table border="1">
<tr><th>ID</th><th>Name</th><th>Birthday</th><th>Phone</th><th>Email</th><th>Actions</th></tr>
<tr th:each="emp : ${employees}">
    <td th:text="${emp.employeeId}"></td>
    <td th:text="${emp.employeeName}"></td>
    <td th:text="${emp.birthday}"></td>
    <td th:text="${emp.phoneNumber}"></td>
    <td th:text="${emp.email}"></td>
    <td>
        <a th:href="@{'/edit/' + ${emp.employeeId}}">Edit</a>
        <a th:href="@{'/delete/' + ${emp.employeeId}}">Delete</a>
    </td>
</tr>
</table>
</body>
</html>